.mySlides {
    display: none;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: white;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1em 1.5em;
    text-decoration: none;
    font-size: 1.8em;
}

.topnav a.logo {
    padding: 5px 1.8em;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 0.7em;
    background-color: #4B4543;
    color: white;
    text-align: center;
}

.paddingBottom {
    padding-bottom: 150px;
}

.responsive-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 5px 10px;
}

.gcal-container {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.gcal-container iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

*/ body {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
}


/*
header {
    display:block;
    position:relative;
    width:auto;
    height:auto;
    padding: 100px 0;
    min-height:100%;
    background:no-repeat center center;
    background-attachment: scroll;
    background-color: #222;
    background-size: cover;
}


.navber {
    margin-bottom: 0px;
    padding: 30px 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@media (max-width: 400px) {
    .navbar-header {
        position: relative;
    }
    .navbar img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 70%;
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: #bbb;
    font-size: medium;
    margin-right: 20px;
}

.cbp-af-header-shrink {
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0.9;
}
 */

.fill-screen {
    background-size: cover;
    background-position: center;
}

.content-filler {
    min-height: 350px;
}

.down-button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.down-button i {
    color: white;
}

.fixed-attachment {
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    .fixed-attachment {
        background-attachment: scroll;
    }
}

.text-banner {
    text-align: center;
    margin: 40px 20px;
}

.text-banner h1 {
    font-size: 44px;
}

.text-banner p {
    font-size: 18px;
}

.activity-section {
    margin: 50px;
}

.activity-element {
    text-align: center;
}

.activity-element img {
    width: 150px;
    height: 150px;
}

#carousel {
    margin: 40px 0px;
}

#carousel img {
    width: 100%;
    height: auto;
}

.contact-us {
    margin: 50px;
    text-align: center;
}

.img-responsive {
    margin: 0px auto;
    border: 3px solid darkblue;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
}

footer {
    color: #ddd;
    padding: 20px;
    text-align: center;
    background-color: #4B4543;
}

aside {
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 40px;
}

.range-list {
    padding-bottom: 40px;
    padding-top: 40px;
}

.range-list h4 {
    margin-bottom: 40px;
    color: darkorange;
    font-weight: bold;
}

.range-list img {
    width: 110px;
    height: 110px;
    max-height: 60px;
    max-width: 140px;
}

.range-title {
    color: darkblue;
}


/*
.sports-icon-list {
    background-color: #333;
    padding-bottom: 40px;
}

.sports-icon-list a {
    color: white;
}

.sports-icon-list a h6 {
    margin-top: 2px;
    margin-bottom: 14px;
}

.sports-icon-list img {
    width: 143px;
    height: 97px;
}

.sports-list-top div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sports-list-top a {
    margin-left: 100px;
    margin-right: 101px;
    display: inline-block;
}

article {
    padding: 40px;
}

article img {
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: 6px 6px 8px #777;
    margin-bottom: 20px;
}

article p {
    font-size: 16px;
}
*/

@media (max-width:767px) {
    .range-list h4 {
        display: inline;
        font-size: 18px;
    }
    .range-list a {
        display: block;
    }
    .range-list img {
        width: 33%;
        height: 33%;
        margin-left: 10px;
        margin-bottom: 30px;
        margin-top: 20px;
    }
}


/*The following code is used to create same-sized columns in the multi-column layout.
    Code from: 
  http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
  */


/* columns of same height styles*/

.container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

@media (min-width:768px) {
    .container-sm-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-sm-height {
        display: table-row;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width:992px) {
    .container-md-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-md-height {
        display: table-row;
    }
    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width:1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0px;
        padding-right: 0px;
    }
    .row-lg-height {
        display: table-row;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
    }
}